.mod-wrap {
    width: 1200px;
    margin: 0 auto;
}

/* div,p,a,span,h1,h2,h3,h4,h5{
      
} */
.home-title {
    font-size: 48px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 67px;
}

.theme-color {
    color: rgba(237, 125, 49, 1);
}

.ybd-title-black-32 {
    font-size: 32px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: rgba(37, 34, 33, 1);
    line-height: 45px;
}

.ybd-text-black-20 {
    font-size: 20px;
    /* font-family: PingFang-SC-Light, PingFang-SC; */
    font-weight: 300;
    color: rgba(37, 34, 33, 1);
    line-height: 28px;
}

.ybd-text-black-18 {
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(37, 34, 33, 1);
    line-height: 25px;
}

.ybd-text-black-14 {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(37, 34, 33, 1);
    line-height: 30px;
}

.ybd-text-gray-14 {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(190, 188, 187, 1);
    line-height: 20px
}

.ybd-text-white-20 {
    font-size: 20px;
    /* font-family:PingFang-SC-Light,PingFang-SC; */
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
}

.ybd-text-white-18 {
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 25px;
}

.ybd-text-white-14 {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
}

/* 公共区域标题 */
.mod-title {
    padding-top: 80px;
    margin-bottom: 40px;
}

.mod-title h2 {
    text-align: center;
    margin-bottom: 5px;
}

.mod-title i {
    width: 108px;
    height: 14px;
    display: block;
    margin: 0 auto;
    background: url('../images/home/icon_zhuangshi@2x.png') no-repeat center;
    background-size: cover;
}

/* 公共区域标题-end */

/* 公共更多样式 */

.main .content .item p {
    margin-bottom: 10px;
}

.main .content .item .more i {
    width: 7px;
    height: 14px;
    background: url('../images/home/icon_arrow_right_sel@2x.png');
    display: inline-block;
    background-size: cover;
    margin-left: 9px;
    vertical-align: middle;
}

.main .content .item .more:hover {
    color: #ed7d31;
}

.main .content .item .more:hover i {
    background-image: url('../images/home/icon_arrow_right_sel_hover@2x.png');
}

/* 公共更多样式-end */

/* 公共footer样式 */
.footer {
    background: rgb(38, 34, 33) url('../images/home/bg_footer.jpg') no-repeat center bottom;
    padding-top: 60px;
}

.footer .mod-wrap {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    position: relative;
    min-height: 340px;

}

.footer .mod-wrap p {
    line-height: 25px;
}

.footer .mod-wrap h3 {
    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    margin-bottom: 15px;
}

.footer .mod-wrap .copyright {
    color: rgba(123, 122, 121, 1);
    position: absolute;
    left: 0;
    bottom: 30px;
}

.footer .company-info {
    float: left;
}

.footer-nav {
    overflow: hidden;
    float: right;
}

.footer-nav dl {
    float: left;
    margin-left: 49px;
}

.footer-nav dt {
    font-size: 18px;
    font-weight: 600;
    font-family: PingFangSC-Medium, PingFang SC;
    color: rgba(255, 255, 255, 1);
    line-height: 25px;
    margin-bottom: 11px;
}

.footer-nav dd {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 11px;
}

.footer-nav dd a {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.footer-nav dd a:hover {
    color: #ed7d31;
}

/* 公共footer样式-end */