<div class="footer">
    <div class="mod-wrap">
        <div class="company-info">
            <h3>上海盈蓓德智能科技有限公司</h3>
            <p>地 址：上海市闵行区万科云新龙路1333弄28幢328室</p>
            <p>联系人：崔玮</p>
            <p>邮 箱：YBDinfo_001@163.com</p>
            <p>电 话：18616502435</p>
            <p class="copyright">© 2019上海盈蓓德智能科技有限公司　All Rights Reserved</p>
        </div>
        <div class="footer-nav">
            <dl>
                <dt>软件产品</dt>
                <dd><a href="#">eDAQ</a></dd>
                <dd><a href="#">EVT</a></dd>
                <dd><a href="#">ETP</a></dd>
            </dl>
            <dl>
                <dt>仪器设备</dt>
                <dd><a href="">eBox</a></dd>
                <dd><a href="">ePad</a></dd>
                <dd><a href="">eNode</a></dd>
            </dl>
            <dl>
                <dt>测试系统</dt>
                <dd><a href="">汽车</a></dd>
                <dd><a href="">消费电子</a></dd>
                <dd><a href="">军工</a></dd>
                <dd><a href="">船舶</a></dd>
                <dd><a href="">电力</a></dd>
            </dl>
            <dl>
                <dt>技术服务</dt>
            </dl>
            <dl>
                <dt>关于我们</dt>
                <dd><a href="">公司简介</a></dd>
                <dd><a href="">合作伙伴</a></dd>
                <dd><a href="">联系我们</a></dd>
            </dl>
        </div>
    </div>
</div>
